In [ ]:
import pandas as pd
import os
import json
import re
import requests
from pathlib import Path

from tqdm import tqdm
from unidecode import unidecode
# import pyspark
import pyspark.sql.functions as F
from pyspark.sql import SparkSession, Row
from pyspark.sql.types import StructType, StructField, ArrayType, StringType, IntegerType, FloatType
from pyspark.sql.functions import col, when, udf, regexp_replace, lower, trim, lit, coalesce

from pyspark.ml import Pipeline

In [ ]:
# !git clone https://github.com/meralegre/Big_Data_IMDb.git
# %cd Big_Data_IMDb/
# %pwd

### Load data with Spark

In [ ]:
spark = SparkSession.builder \
    .master("local") \
    .config("spark.driver.bindAddress","127.0.0.1") \
    .getOrCreate()

# spark = SparkSession.builder.appName("BERT-FineTuning").getOrCreate()

In [ ]:
def load_train_data():
    path = "data/train/"
    train_files = os.listdir(path=path)

    train_df = pd.DataFrame()
    for file in train_files:
        if file.startswith('train-') and file.endswith('.csv'):
            df = pd.read_csv(f"{path}/{file}")
            train_df = pd.concat([train_df, df], ignore_index=False)
            train_df = train_df.drop(columns=["Unnamed: 0", "runtimeMinutes"])

    # train_df = train_df.sort_index()
    spark_train_df = spark.createDataFrame(train_df).replace(to_replace='\\N', value=None)
    spark_train_df = spark_train_df.withColumnRenamed("primaryTitle", "movie_title")
    return spark_train_df

In [ ]:
def load_validation_data():
    path = "data/"
    validation_df = pd.read_csv(f"{path}/validation_hidden.csv", index_col=[0])
    # validation_df = validation_df.sort_index()
    validation_df = validation_df.drop(columns="runtimeMinutes")
    spark_validation_df = spark.createDataFrame(validation_df).replace(to_replace='\\N', value=None)
    spark_validation_df = spark_validation_df.withColumnRenamed("primaryTitle", "movie_title")
    return spark_validation_df

def load_test_data():
    path = "data/"
    test_df = pd.read_csv(f"{path}/test_hidden.csv", index_col=[0])
    # test_df = test_df.sort_index()
    test_df = test_df.drop(columns="runtimeMinutes")
    spark_test_df = spark.createDataFrame(test_df).replace(to_replace='\\N', value=None)
    spark_test_df = spark_test_df.withColumnRenamed("primaryTitle", "movie_title")
    return spark_test_df

In [ ]:
train_data = load_train_data()
train_data.show()

In [ ]:
validation_data = load_validation_data()
validation_data.show()
validation_data.count()

In [ ]:
test_data = load_test_data()
test_data.show()
test_data.count()

### Cleaning

In [ ]:
# def handle_years():
#     """
#     Creates a 'year' column using 'startYear' if available, otherwise 'endYear'.
#     Drops 'startYear' and 'endYear' after merging.
#     """
#     spark_train_df = spark_train_df.withColumn("year", when(col("startYear").isNotNull(), col("startYear"))
#                                   .otherwise(col("endYear")))

#     spark_validation_df = spark_validation_df.withColumn("year", when(col("startYear").isNotNull(), col("startYear"))
#                                   .otherwise(col("endYear")))

#     spark_test_df = spark_test_df.withColumn("year", when(col("startYear").isNotNull(), col("startYear"))
#                                   .otherwise(col("endYear")))

#     # drop original startYear and endYear
#     spark_train_df = spark_train_df.drop("startYear", "endYear")
#     spark_validation_df = spark_validation_df.drop("startYear", "endYear")
#     spark_test_df = spark_test_df.drop("startYear", "endYear")

#     return spark_train_df, spark_validation_df, spark_test_df

def handle_years(df):
    """
    Creates a 'year' column using 'startYear' if available, otherwise 'endYear'.
    Drops 'startYear' and 'endYear' after merging.
    """
    df = df.withColumn("year", when(col("startYear").isNotNull(), col("startYear"))
                                  .otherwise(col("endYear")))

    # drop original startYear and endYear
    df = df.drop("startYear", "endYear")

    return df

In [ ]:
spark_train_df = load_train_data()
spark_train_df = handle_years(spark_train_df)
spark_train_df.show()

In [ ]:
# converts special characters to ASCII
def normalize_text(text):
    if text is None:
        return None
    return unidecode(text)

normalize_text_udf = udf(normalize_text, StringType())

def clean_titles(df):
    df = df.withColumn("movie_title", normalize_text_udf(col("movie_title")))
    df = df.withColumn("originalTitle", normalize_text_udf(col("originalTitle")))

    # maybe we can drop the original name since there are some NaN values present
    # and we already have the clean primaryTitle column
    df = df.drop("originalTitle")
    return df

In [ ]:
spark_train_df = clean_titles(spark_train_df)
spark_train_df.show()

In [ ]:
# number of rows of training data after concatenating everything together
spark_train_df.count()

### Merge with movie_reviews data

In [ ]:
def load_reviews_data():
    path = "movie_reviews"
    reviews_df = pd.read_csv(f"{path}/final_movie_reviews.csv")
    # reviews_df = reviews_df.sort_index()
    spark_reviews_df = spark.createDataFrame(reviews_df).replace(to_replace='\\N', value=None)
    return spark_reviews_df

In [112]:
spark_reviews_df = load_reviews_data()
spark_reviews_df.show()

+--------------------+------------------+------------------+--------------------+--------------------+--------------------+------------+------------+-----------------+-------------------+--------------------+
|         movie_title|tomatometer_status|tomatometer_rating|         review_type|        review_score|      review_content|review_label|Release Year|Clean_Review_date|Clean_Comment Count|               genre|
+--------------------+------------------+------------------+--------------------+--------------------+--------------------+------------+------------+-----------------+-------------------+--------------------+
|Percy Jackson & t...|            Rotten|              49.0|['Fresh', 'Rotten...|['3.5/5', '1/4', ...|["Whether audienc...|      Rotten|      2010.0|              NaN|                NaN|Action & Adventur...|
|         Please Give|             Fresh|              87.0|['Fresh', 'Fresh'...|['3/4', '3/5', '4...|['Holofcener alwa...|       Fresh|      2010.0|              NaN|                NaN|              Comedy|
|                  10|             Fresh|              67.0|['Fresh', 'Fresh'...|['4/5', '3/5', '3...|['Obvious but ent...|       Fresh|      1979.0|              NaN|                NaN|     Comedy, Romance|
|12 Angry Men (Twe...|             Fresh|             100.0|['Fresh', 'Fresh'...|['4/4', '9/10', '...|['In a time of bl...|       Fresh|      1957.0|              NaN|                NaN|     Classics, Drama|
|20,000 Leagues Un...|             Fresh|              89.0|['Fresh', 'Fresh'...|['7/10', '4.5/5',...|['The embodiment ...|       Fresh|      1954.0|              NaN|                NaN|Action & Adventur...|
|         10,000 B.C.|            Rotten|               8.0|['Rotten', 'Rotte...|['1.5/5', 'C', 'D...|['A tedious bore ...|      Rotten|      2008.0|              NaN|                NaN|Action & Adventur...|
|        The 39 Steps|             Fresh|              96.0|['Fresh', 'Fresh'...|['10/10', '5/5', ...|["If you haven't ...|       Fresh|      1935.0|              NaN|                NaN|Action & Adventur...|
|        3:10 to Yuma|             Fresh|              96.0|['Fresh', 'Fresh'...|['4/5', '5/5', 'B...|['', 'Fine Daves,...|       Fresh|      1957.0|              NaN|                NaN|Classics, Drama, ...|
|Charly (A Heartbe...|            Rotten|              20.0|['Rotten', 'Rotte...|['2/4', 'C', '2/4...|["The romance bet...|      Rotten|      2002.0|              NaN|                NaN|Comedy, Drama, Ro...|
|     Abraham Lincoln|             Fresh|              82.0|['Fresh', 'Fresh'...|['B-', '2.5/5', '...|['An archaic biop...|       Fresh|      1930.0|              NaN|                NaN|     Classics, Drama|
|          Dark Water|             Fresh|              80.0|['Fresh', 'Fresh'...|['2.5/4', '4/5', ...|["...while Dark W...|       Fresh|      2002.0|              NaN|                NaN|Art House & Inter...|
|         The Accused|             Fresh|              91.0|['Fresh', 'Fresh'...|['3/4', '3.5/5', ...|['The Accused dem...|       Fresh|      1988.0|              NaN|                NaN|Drama, Mystery & ...|
|       The Lost City|            Rotten|              25.0|['Rotten', 'Rotte...|['C+', '2/4', '2/...|['', 'Despite the...|      Rotten|      2005.0|              NaN|                NaN|               Drama|
|  The Breaking Point|             Fresh|             100.0|['Fresh', 'Fresh'...|['A', '3.5/4', '3...|['Clearly the bes...|       Fresh|      1950.0|              NaN|                NaN|               Drama|
|          Adam's Rib|             Fresh|              96.0|['Fresh', 'Fresh'...|['86/100', 'A', '...|["Adam's Rib give...|       Fresh|      1949.0|              NaN|                NaN|Classics, Comedy,...|
|The Bridge of San...|            Rotten|               4.0|['Rotten', 'Rotte...|['D', 'D', 'C-', ...|['Pedestrian...a ...|      Rotten|      2005.0|              NaN|                NaN|Art House & Inter...|
|The Prowler (Cost...|             Fresh|             100.0|['Fresh', 'Fresh'...|['B+', '56/100', ...|['A neat noir thr...|       Fresh|      1951.0|              NaN|                NaN|Drama, Mystery & ...|
|            Criminal|             Fresh|              69.0|['Rotten', 'Rotte...|['3/5', 'C+', '2/...|['We got two and ...|       Fresh|      2004.0|              NaN|                NaN|Drama, Mystery & ...|
|The Adventures of...|             Fresh|              80.0|['Fresh', 'Fresh'...|['4/5', '3/5', '3...|["There's more th...|       Fresh|      1985.0|              NaN|                NaN|Action & Adventur...|
|           Deep Blue|             Fresh|              67.0|['Fresh', 'Fresh'...|['B', 'B', '4/5',...|['A nice piece of...|       Fresh|      2005.0|              NaN|                NaN|Documentary, Spec...|
+--------------------+------------------+------------------+--------------------+--------------------+--------------------+------------+------------+-----------------+-------------------+--------------------+
only showing top 20 rows

In [113]:
spark_reviews_df.count()

19095

In [114]:
def convert_year_column_to_int(df, column_name):
    """
    converts a float-based year column to an integer
    """
    df = df.withColumn(column_name, col(column_name).cast(IntegerType()))
    return df

spark_reviews_df = convert_year_column_to_int(spark_reviews_df, "Release Year")

In [115]:
spark_reviews_df.show()

+--------------------+------------------+------------------+--------------------+--------------------+--------------------+------------+------------+-----------------+-------------------+--------------------+
|         movie_title|tomatometer_status|tomatometer_rating|         review_type|        review_score|      review_content|review_label|Release Year|Clean_Review_date|Clean_Comment Count|               genre|
+--------------------+------------------+------------------+--------------------+--------------------+--------------------+------------+------------+-----------------+-------------------+--------------------+
|Percy Jackson & t...|            Rotten|              49.0|['Fresh', 'Rotten...|['3.5/5', '1/4', ...|["Whether audienc...|      Rotten|        2010|              NaN|                NaN|Action & Adventur...|
|         Please Give|             Fresh|              87.0|['Fresh', 'Fresh'...|['3/4', '3/5', '4...|['Holofcener alwa...|       Fresh|        2010|              NaN|                NaN|              Comedy|
|                  10|             Fresh|              67.0|['Fresh', 'Fresh'...|['4/5', '3/5', '3...|['Obvious but ent...|       Fresh|        1979|              NaN|                NaN|     Comedy, Romance|
|12 Angry Men (Twe...|             Fresh|             100.0|['Fresh', 'Fresh'...|['4/4', '9/10', '...|['In a time of bl...|       Fresh|        1957|              NaN|                NaN|     Classics, Drama|
|20,000 Leagues Un...|             Fresh|              89.0|['Fresh', 'Fresh'...|['7/10', '4.5/5',...|['The embodiment ...|       Fresh|        1954|              NaN|                NaN|Action & Adventur...|
|         10,000 B.C.|            Rotten|               8.0|['Rotten', 'Rotte...|['1.5/5', 'C', 'D...|['A tedious bore ...|      Rotten|        2008|              NaN|                NaN|Action & Adventur...|
|        The 39 Steps|             Fresh|              96.0|['Fresh', 'Fresh'...|['10/10', '5/5', ...|["If you haven't ...|       Fresh|        1935|              NaN|                NaN|Action & Adventur...|
|        3:10 to Yuma|             Fresh|              96.0|['Fresh', 'Fresh'...|['4/5', '5/5', 'B...|['', 'Fine Daves,...|       Fresh|        1957|              NaN|                NaN|Classics, Drama, ...|
|Charly (A Heartbe...|            Rotten|              20.0|['Rotten', 'Rotte...|['2/4', 'C', '2/4...|["The romance bet...|      Rotten|        2002|              NaN|                NaN|Comedy, Drama, Ro...|
|     Abraham Lincoln|             Fresh|              82.0|['Fresh', 'Fresh'...|['B-', '2.5/5', '...|['An archaic biop...|       Fresh|        1930|              NaN|                NaN|     Classics, Drama|
|          Dark Water|             Fresh|              80.0|['Fresh', 'Fresh'...|['2.5/4', '4/5', ...|["...while Dark W...|       Fresh|        2002|              NaN|                NaN|Art House & Inter...|
|         The Accused|             Fresh|              91.0|['Fresh', 'Fresh'...|['3/4', '3.5/5', ...|['The Accused dem...|       Fresh|        1988|              NaN|                NaN|Drama, Mystery & ...|
|       The Lost City|            Rotten|              25.0|['Rotten', 'Rotte...|['C+', '2/4', '2/...|['', 'Despite the...|      Rotten|        2005|              NaN|                NaN|               Drama|
|  The Breaking Point|             Fresh|             100.0|['Fresh', 'Fresh'...|['A', '3.5/4', '3...|['Clearly the bes...|       Fresh|        1950|              NaN|                NaN|               Drama|
|          Adam's Rib|             Fresh|              96.0|['Fresh', 'Fresh'...|['86/100', 'A', '...|["Adam's Rib give...|       Fresh|        1949|              NaN|                NaN|Classics, Comedy,...|
|The Bridge of San...|            Rotten|               4.0|['Rotten', 'Rotte...|['D', 'D', 'C-', ...|['Pedestrian...a ...|      Rotten|        2005|              NaN|                NaN|Art House & Inter...|
|The Prowler (Cost...|             Fresh|             100.0|['Fresh', 'Fresh'...|['B+', '56/100', ...|['A neat noir thr...|       Fresh|        1951|              NaN|                NaN|Drama, Mystery & ...|
|            Criminal|             Fresh|              69.0|['Rotten', 'Rotte...|['3/5', 'C+', '2/...|['We got two and ...|       Fresh|        2004|              NaN|                NaN|Drama, Mystery & ...|
|The Adventures of...|             Fresh|              80.0|['Fresh', 'Fresh'...|['4/5', '3/5', '3...|["There's more th...|       Fresh|        1985|              NaN|                NaN|Action & Adventur...|
|           Deep Blue|             Fresh|              67.0|['Fresh', 'Fresh'...|['B', 'B', '4/5',...|['A nice piece of...|       Fresh|        2005|              NaN|                NaN|Documentary, Spec...|
+--------------------+------------------+------------------+--------------------+--------------------+--------------------+------------+------------+-----------------+-------------------+--------------------+
only showing top 20 rows

### Time to merge

In [116]:
def join_training_with_reviews(df_movies, df_reviews):
    """
    joins training data with reviews based on `movie_title` and `year`.

    Parameters:
    - df_movies: PySpark DataFrame containing training movie metadata.
    - df_reviews: PySpark DataFrame containing reviews.

    Returns:
    - Merged PySpark DataFrame with movie metadata + reviews.
    """

    # Standardize `movie_title` (trim + lowercase) for better matching
    df_movies = df_movies.withColumn("movie_title", trim(lower(col("movie_title"))))
    df_reviews = df_reviews.withColumn("movie_title", trim(lower(col("movie_title"))))

    # Rename 'Release Year' in reviews to 'year' for consistent joins
    df_reviews = df_reviews.withColumnRenamed("Release Year", "year")

    # Ensure `year` is cast as an integer
    df_movies = df_movies.withColumn("year", col("year").cast("int"))
    df_reviews = df_reviews.withColumn("year", col("year").cast("int"))

    # Perform a LEFT JOIN on `movie_title` and `year`
    df_merged = df_movies.join(df_reviews, on=["movie_title", "year"], how="left")

    # Select relevant columns
    selected_columns = [
        "tconst", "movie_title", "numVotes", "year", "label",
        "tomatometer_status", "review_type", "genre",
        "review_label", "review_content"
    ]

    df_final = df_merged.select(*selected_columns)

    # Fill missing reviews with "No Reviews" and "Unknown"
    df_final = df_final.fillna({"review_content": "No Reviews", "review_label": "Unknown"})

    return df_final

In [117]:
join_training_with_reviews(spark_train_df, spark_reviews_df).show()
final_df = join_training_with_reviews(spark_train_df, spark_reviews_df)

+---------+--------------------+--------+----+-----+------------------+--------------------+--------------------+------------+--------------------+
|   tconst|         movie_title|numVotes|year|label|tomatometer_status|         review_type|               genre|review_label|      review_content|
+---------+--------------------+--------+----+-----+------------------+--------------------+--------------------+------------+--------------------+
|tt0022626|    american madness|  1996.0|1932| true|              NULL|                NULL|                NULL|     Unknown|          No Reviews|
|tt0017271|          by the law|  1057.0|1926| true|              NULL|                NULL|                NULL|     Unknown|          No Reviews|
|tt0023876|           cavalcade|  5038.0|1933|false|            Rotten|['Fresh', 'Fresh'...|Classics, Drama, ...|      Rotten|['If nothing else...|
|tt0028773|            dead end|     NaN|1937| true|             Fresh|['Fresh', 'Fresh'...|Classics, Drama, ...|       Fresh|['', '', 'Intelli...|
|tt0027532|           dodsworth|  8817.0|1936| true|             Fresh|['Fresh', 'Fresh'...|Classics, Drama, ...|       Fresh|['A film of matur...|
|tt0028816|         easy living|  3417.0|1937| true|              NULL|                NULL|                NULL|     Unknown|          No Reviews|
|tt0020793|escape from dartmoor|  1102.0|1929| true|              NULL|                NULL|                NULL|     Unknown|          No Reviews|
|tt0020018|      in old arizona|  1049.0|1928|false|            Rotten|['Rotten', 'Rotte...|Action & Adventur...|      Rotten|["If it appears t...|
|tt0022125|              marius|  2251.0|1931| true|              NULL|                NULL|                NULL|     Unknown|          No Reviews|
|tt0027977|        modern times|231243.0|1936| true|             Fresh|['Fresh', 'Fresh'...|    Classics, Comedy|       Fresh|["Chaplin's senti...|
|tt0028070|       our relations|  3077.0|1936| true|              NULL|                NULL|                NULL|     Unknown|          No Reviews|
|tt0019379|         show people|  3695.0|1928| true|              NULL|                NULL|                NULL|     Unknown|          No Reviews|
|tt0024593|         son of kong|  4501.0|1933|false|            Rotten|['Rotten', 'Rotte...|Action & Adventur...|      Rotten|['', '', '', '', ...|
|tt0028315|            stowaway|  1323.0|1936| true|              NULL|                NULL|                NULL|     Unknown|          No Reviews|
|tt0018742|       the cameraman| 11388.0|1928| true|              NULL|                NULL|                NULL|     Unknown|          No Reviews|
|tt0015841|        the freshman|  5374.0|1925| true|              NULL|                NULL|                NULL|     Unknown|          No Reviews|
|tt0025164|    the gay divorcee|     NaN|1934| true|             Fresh|['Fresh', 'Fresh'...|Classics, Comedy,...|       Fresh|['', 'Not the bes...|
|tt0015064|      the last laugh|     NaN|1924| true|              NULL|                NULL|                NULL|     Unknown|          No Reviews|
|tt0014109|the saga of gosta...|  1231.0|1924| true|              NULL|                NULL|                NULL|     Unknown|          No Reviews|
|tt0018451|the student princ...|  1459.0|1927| true|              NULL|                NULL|                NULL|     Unknown|          No Reviews|
+---------+--------------------+--------+----+-----+------------------+--------------------+--------------------+------------+--------------------+
only showing top 20 rows

In [118]:
spark_reviews_df = spark_reviews_df.withColumnRenamed("Release Year", "year")
df_missing_movies = spark_train_df.join(spark_reviews_df, on=["movie_title", "year"], how="left_anti")
df_missing_movies.count()

5892

In [119]:
def clean_labels(df):
    """
    Creates a 'year' column using 'startYear' if available, otherwise 'endYear'.
    Drops 'startYear' and 'endYear' after merging.
    """
    # convert boolean column `label` to integer
    df = df.withColumn("label_int", when(col("label") == True, 1).otherwise(0))

    # convert categorical `review_label` to numerical
    df = df.withColumn("review_label_int", when(col("review_label") == "Fresh", 1)
                                          .when(col("review_label") == "Rotten", 0)
                                          .otherwise(None))
    # combine both labels:
    # both exist: average
    # only one exists: take that one
    df = df.withColumn("combined_label",
                       coalesce((col("label_int") + col("review_label_int")) / 2, col("label_int"), col("review_label_int")))

    # Drop unnecessary intermediate columns
    df = df.drop("label", "label_int", "review_label", "review_label_int")

    df.withColumnRenamed("label", "combined_label")

    return df

In [120]:
clean_labels(final_df).show()

+----------+--------------------+--------+----+------------------+--------------------+--------------------+--------------------+--------------+
|    tconst|         movie_title|numVotes|year|tomatometer_status|         review_type|               genre|      review_content|combined_label|
+----------+--------------------+--------+----+------------------+--------------------+--------------------+--------------------+--------------+
|tt10534500|               #home| 10591.0|2021|              NULL|                NULL|                NULL|          No Reviews|           1.0|
| tt0090556|      'night, mother|  2244.0|1986|              NULL|                NULL|                NULL|          No Reviews|           1.0|
| tt0349047|(t)raumschiff sur...| 15303.0|2004|              NULL|                NULL|                NULL|          No Reviews|           0.0|
| tt2395385|                  +1|  8065.0|2013|             Fresh|['Fresh', 'Fresh'...|Horror, Mystery &...|["Love it or hate...|           0.5|
| tt0381838|              ...ing|  2187.0|2003|              NULL|                NULL|                NULL|          No Reviews|           1.0|
| tt0473567|           ...yahaan|     NaN|2005|              NULL|                NULL|                NULL|          No Reviews|           1.0|
| tt2416424|00 schneider - im...|  1216.0|2013|              NULL|                NULL|                NULL|          No Reviews|           0.0|
| tt0109000|00 schneider - ja...|  2583.0|1994|              NULL|                NULL|                NULL|          No Reviews|           1.0|
| tt2518788|                   1|  4089.0|2013|              NULL|                NULL|                NULL|          No Reviews|           1.0|
| tt4685428|              1 buck|     NaN|2017|              NULL|                NULL|                NULL|          No Reviews|           0.0|
| tt4875960|     1 interrogation|  4757.0|2020|              NULL|                NULL|                NULL|          No Reviews|           0.0|
| tt0494724|    1 litre of tears|     NaN|2005|              NULL|                NULL|                NULL|          No Reviews|           1.0|
| tt4126694|             1 night|  1986.0|2016|              NULL|                NULL|                NULL|          No Reviews|           0.0|
| tt1179933| 10 cloverfield lane|309018.0|2016|             Fresh|['Fresh', 'Fresh'...|Drama, Mystery & ...|['A crackerjack e...|           1.0|
| tt5128266|    10 endrathukulla|  1321.0|2015|              NULL|                NULL|                NULL|          No Reviews|           0.0|
| tt1993391|10 rules for slee...|  2902.0|2013|              NULL|                NULL|                NULL|          No Reviews|           0.0|
| tt0147800|10 things i hate ...|319002.0|1999|             Fresh|['Fresh', 'Rotten...|              Comedy|["Lame scenes are...|           1.0|
| tt0443649|           10,000 bc|128668.0|2008|              NULL|                NULL|                NULL|          No Reviews|           0.0|
| tt3488056|     10.0 earthquake|  2156.0|2014|              NULL|                NULL|                NULL|          No Reviews|           0.0|
|tt10949778|    100 days to live|  4155.0|2019|              NULL|                NULL|                NULL|          No Reviews|           0.0|
+----------+--------------------+--------+----+------------------+--------------------+--------------------+--------------------+--------------+
only showing top 20 rows

In [121]:
spark_reviews_df = spark_reviews_df.withColumnRenamed("Release Year", "year")
df_missing_movies = spark_train_df.join(spark_reviews_df, on=["movie_title", "year"], how="left_anti")
df_missing_movies.count()

5892

In [122]:
tconst_list = [row["tconst"] for row in df_missing_movies.select("tconst").collect()]
tconst_list

['tt11691722',
 'tt2645104',
 'tt7838536',
 'tt9562694',
 'tt0937347',
 'tt0092501',
 'tt0421051',
 'tt2277834',
 'tt2585562',
 'tt3860294',
 'tt5458088',
 'tt9100028',
 'tt0047444',
 'tt0108350',
 'tt2615584',
 'tt6692354',
 'tt0064482',
 'tt0084630',
 'tt0103791',
 'tt0127626',
 'tt0841150',
 'tt2370228',
 'tt2725076',
 'tt3398048',
 'tt4849176',
 'tt5535942',
 'tt8819596',
 'tt11374902',
 'tt2449638',
 'tt3509426',
 'tt0074252',
 'tt0116308',
 'tt0078243',
 'tt0091658',
 'tt0093415',
 'tt0476550',
 'tt10695464',
 'tt1678040',
 'tt1773109',
 'tt5157456',
 'tt6772946',
 'tt0045911',
 'tt0068883',
 'tt0075811',
 'tt0100050',
 'tt0334416',
 'tt7917178',
 'tt0055499',
 'tt0075730',
 'tt0093207',
 'tt1276962',
 'tt0017961',
 'tt0068282',
 'tt0085328',
 'tt0112492',
 'tt0387462',
 'tt12492650',
 'tt1656170',
 'tt8000908',
 'tt0790662',
 'tt0902967',
 'tt10569922',
 'tt1684548',
 'tt0067814',
 'tt0330536',
 'tt10734864',
 'tt2900822',
 'tt0066728',
 'tt0450426',
 'tt0486544',
 'tt1601792',
 'tt2359024',
 'tt3505712',
 'tt7692434',
 'tt0068716',
 'tt0102395',
 'tt1404830',
 'tt1965308',
 'tt5060166',
 'tt10334602',
 'tt1239426',
 'tt0455584',
 'tt0913401',
 'tt1110209',
 'tt1881060',
 'tt5481404',
 'tt8196692',
 'tt0026267',
 'tt0057812',
 'tt0091093',
 'tt0237038',
 'tt0075002',
 'tt0430589',
 'tt0060635',
 'tt0099395',
 'tt0253623',
 'tt0028816',
 'tt0151572',
 'tt8976576',
 'tt0096378',
 'tt1100051',
 'tt8328716',
 'tt0237138',
 'tt0134786',
 'tt0173772',
 'tt1086216',
 'tt5990474',
 'tt0377752',
 'tt1397492',
 'tt2558318',
 'tt0285665',
 'tt6571548',
 'tt9089294',
 'tt2893490',
 'tt0039737',
 'tt0118147',
 'tt4276820',
 'tt4404474',
 'tt0078740',
 'tt3977848',
 'tt0092910',
 'tt0101309',
 'tt10239930',
 'tt2942016',
 'tt0066758',
 'tt0072752',
 'tt0235154',
 'tt2766268',
 'tt4730706',
 'tt5471480',
 'tt7097358',
 'tt0062277',
 'tt0066561',
 'tt0117609',
 'tt10530176',
 'tt11033952',
 'tt4489416',
 'tt9849004',
 'tt0032152',
 'tt0059199',
 'tt1343703',
 'tt0070099',
 'tt0302935',
 'tt1037222',
 'tt2624704',
 'tt0039822',
 'tt0073152',
 'tt0093833',
 'tt0102569',
 'tt13613338',
 'tt5795086',
 'tt7953814',
 'tt1083452',
 'tt10888594',
 'tt0112851',
 'tt0282599',
 'tt0339535',
 'tt1535020',
 'tt3187076',
 'tt0117412',
 'tt0166653',
 'tt1082007',
 'tt15767726',
 'tt1588170',
 'tt2113007',
 'tt5598102',
 'tt8774798',
 'tt0369359',
 'tt11778272',
 'tt2282829',
 'tt8956872',
 'tt0070439',
 'tt0071544',
 'tt1545754',
 'tt6613958',
 'tt3259474',
 'tt0038000',
 'tt0050490',
 'tt0451102',
 'tt1416336',
 'tt1712578',
 'tt0119327',
 'tt0795461',
 'tt3478962',
 'tt0045161',
 'tt0048002',
 'tt2521404',
 'tt2751310',
 'tt5523174',
 'tt0920458',
 'tt3796936',
 'tt5161376',
 'tt7886848',
 'tt8054066',
 'tt0092558',
 'tt2433040',
 'tt4314716',
 'tt8364132',
 'tt0037469',
 'tt0485241',
 'tt11402172',
 'tt8108202',
 'tt0055562',
 'tt0300140',
 'tt1221207',
 'tt1424797',
 'tt2984576',
 'tt4725842',
 'tt5259966',
 'tt0110877',
 'tt0981224',
 'tt0077743',
 'tt0116852',
 'tt0446312',
 'tt10358022',
 'tt1817771',
 'tt4086018',
 'tt6002232',
 'tt0074400',
 'tt0107209',
 'tt0079590',
 'tt1133995',
 'tt2215151',
 'tt2418372',
 'tt2924392',
 'tt5016442',
 'tt1163752',
 'tt2069100',
 'tt0043918',
 'tt0057344',
 'tt0058050',
 'tt0106185',
 'tt1149361',
 'tt6395306',
 'tt0042906',
 'tt0048308',
 'tt0071159',
 'tt0210299',
 'tt1645916',
 'tt3142764',
 'tt5076792',
 'tt0049829',
 'tt0065662',
 'tt2392447',
 'tt4247144',
 'tt0316494',
 'tt0109702',
 'tt0117315',
 'tt0395461',
 'tt12299714',
 'tt2301900',
 'tt0027118',
 'tt0119272',
 'tt3501416',
 'tt6515200',
 'tt8449154',
 'tt0057083',
 'tt0226872',
 'tt0249047',
 'tt0780485',
 'tt0071486',
 'tt2914892',
 'tt4381236',
 'tt4765240',
 'tt0420555',
 'tt4110972',
 'tt0058863',
 'tt0113971',
 'tt11306376',
 'tt0379240',
 'tt1388418',
 'tt1613023',
 'tt3551042',
 'tt5690142',
 'tt9415552',
 'tt0069318',
 'tt1925479',
 'tt3557406',
 'tt4217392',
 'tt0068415',
 'tt0244709',
 'tt1186371',
 'tt2082180',
 'tt0050665',
 'tt0111512',
 'tt0382898',
 'tt1160317',
 'tt12154638',
 'tt4603150',
 'tt0081229',
 'tt0095511',
 'tt0123391',
 'tt0038890',
 'tt0062776',
 'tt3382148',
 'tt3477554',
 'tt0043014',
 'tt0104810',
 'tt1828232',
 'tt6853580',
 'tt0245837',
 'tt0312859',
 'tt0036191',
 'tt0113703',
 'tt0255958',
 'tt6673840',
 'tt1160629',
 'tt1422800',
 'tt1586753',
 'tt1954470',
 'tt3663040',
 'tt0385988',
 'tt6143422',
 'tt0042235',
 'tt0375782',
 'tt0460505',
 'tt0468565',
 'tt6093618',
 'tt0066498',
 'tt0068918',
 'tt0252589',
 'tt0472562',
 'tt0104759',
 'tt0117477',
 'tt1695800',
 'tt2669766',
 'tt0039370',
 'tt0377713',
 'tt1239267',
 'tt1653913',
 'tt2358911',
 'tt4466490',
 'tt6112524',
 'tt0082812',
 'tt0111216',
 'tt0120125',
 'tt0052708',
 'tt0093427',
 'tt0144020',
 'tt11506054',
 'tt3032074',
 'tt0106521',
 'tt0215517',
 'tt0411805',
 'tt2769184',
 'tt0085266',
 'tt1120897',
 'tt3189256',
 'tt0079855',
 'tt0107953',
 'tt0445336',
 'tt1087853',
 'tt11755300',
 'tt1346516',
 'tt1658820',
 'tt2226519',
 'tt7149336',
 'tt0039676',
 'tt0092929',
 'tt0117482',
 'tt0119239',
 'tt0341495',
 'tt0024966',
 'tt11290556',
 'tt3626742',
 'tt0029747',
 'tt0068528',
 'tt0070217',
 'tt0088099',
 'tt0327419',
 'tt0452580',
 'tt2573372',
 'tt4136456',
 'tt0056141',
 'tt0063458',
 'tt2901962',
 'tt0086972',
 'tt0280438',
 'tt0997246',
 'tt2178508',
 'tt0192949',
 'tt0256858',
 'tt6768578',
 'tt0020298',
 'tt0064923',
 'tt0083824',
 'tt0103874',
 'tt0914837',
 'tt0959329',
 'tt1227378',
 'tt1602479',
 'tt4806012',
 'tt0078846',
 'tt0078875',
 'tt0459924',
 'tt0787524',
 'tt1161951',
 'tt0043614',
 'tt0439714',
 'tt0862748',
 'tt0059563',
 'tt0086199',
 'tt0110044',
 'tt0364930',
 'tt1230211',
 'tt3579524',
 'tt9101540',
 'tt0107692',
 'tt0123335',
 'tt0143422',
 'tt0152015',
 'tt0167350',
 'tt0056663',
 'tt0299108',
 'tt0450506',
 'tt6197494',
 'tt0089378',
 'tt0407038',
 'tt1261862',
 'tt3812366',
 'tt5790492',
 'tt0249027',
 'tt11193002',
 'tt1194612',
 'tt0022787',
 'tt0067164',
 'tt0339079',
 'tt0023973',
 'tt0086102',
 'tt11233960',
 'tt2315226',
 'tt4890452',
 'tt6016744',
 'tt0045112',
 'tt1198075',
 'tt5460276',
 'tt9624766',
 'tt0109858',
 'tt0117318',
 'tt0023871',
 'tt0123221',
 'tt0435776',
 'tt0800956',
 'tt0883398',
 'tt14565414',
 'tt0092112',
 'tt0326900',
 'tt1912982',
 'tt3319508',
 'tt3039472',
 'tt3679000',
 'tt5493944',
 'tt7689966',
 'tt1236472',
 'tt2608224',
 'tt4906984',
 'tt0423166',
 'tt0855822',
 'tt2536124',
 'tt3993732',
 'tt9418878',
 'tt0090837',
 'tt4596814',
 'tt0046446',
 'tt0284137',
 'tt0318034',
 'tt0376720',
 'tt4434004',
 'tt4486986',
 'tt0054413',
 'tt0098321',
 'tt3748440',
 'tt5473090',
 'tt5716280',
 'tt0088334',
 'tt0339419',
 'tt0347149',
 'tt0419198',
 'tt15145772',
 'tt1680099',
 'tt5648036',
 'tt0063198',
 'tt0082806',
 'tt0097942',
 'tt0106779',
 'tt0865554',
 'tt0403933',
 'tt1979319',
 'tt2675978',
 'tt0100151',
 'tt0165623',
 'tt0402906',
 'tt4985848',
 'tt0093966',
 'tt0105807',
 'tt1865505',
 'tt0057427',
 'tt1397511',
 'tt2400291',
 'tt3567666',
 'tt5022680',
 'tt8201170',
 'tt10662234',
 'tt2072933',
 'tt0453729',
 'tt1342402',
 'tt1895484',
 'tt0082912',
 'tt0216800',
 'tt0263496',
 'tt0783530',
 'tt7715070',
 'tt0430381',
 'tt11073148',
 'tt13423846',
 'tt2214941',
 'tt0151691',
 'tt0144555',
 'tt0069810',
 'tt0188030',
 'tt1577055',
 'tt1781812',
 'tt6038600',
 'tt7056732',
 'tt0057503',
 'tt0077655',
 'tt0116828',
 'tt7900528',
 'tt0063501',
 'tt0307197',
 'tt1176252',
 'tt0032653',
 'tt0048729',
 'tt0075669',
 'tt3149038',
 'tt0083745',
 'tt0113824',
 'tt0497915',
 'tt1147684',
 'tt0102741',
 'tt0138074',
 'tt0242572',
 'tt1291545',
 'tt0056966',
 'tt0064040',
 'tt0068348',
 'tt0396746',
 'tt2465578',
 'tt3089778',
 'tt3678782',
 'tt0023943',
 'tt2504640',
 'tt0269410',
 'tt1405810',
 'tt1969959',
 'tt3295734',
 'tt0068370',
 'tt0084934',
 'tt2328922',
 'tt7384848',
 'tt0060543',
 'tt0062006',
 'tt0085327',
 'tt3904272',
 'tt5638474',
 'tt0094683',
 'tt0109480',
 'tt0128133',
 'tt5970844',
 'tt0087821',
 'tt0093176',
 'tt0133363',
 'tt0443455',
 'tt2702920',
 'tt0048752',
 'tt0070654',
 'tt0112757',
 'tt14539726',
 'tt0094675',
 'tt1823202',
 'tt2241750',
 'tt2531362',
 'tt0064939',
 'tt4956984',
 'tt0392591',
 'tt0770810',
 'tt1452628',
 'tt14598754',
 'tt4290746',
 'tt5036442',
 'tt9773184',
 'tt0089622',
 'tt7339826',
 'tt0229371',
 'tt1935089',
 'tt0085529',
 'tt0411323',
 'tt11536216',
 'tt0082666',
 'tt0099384',
 'tt1934458',
 'tt7050946',
 'tt0196614',
 'tt5505188',
 'tt0167400',
 'tt0431418',
 'tt0470679',
 'tt0983990',
 'tt1422674',
 'tt7284202',
 'tt10958102',
 'tt1764614',
 'tt2151915',
 'tt2794596',
 'tt0082755',
 'tt1369571',
 'tt4768656',
 'tt0110255',
 'tt0026104',
 'tt0053039',
 'tt0187231',
 'tt0047478',
 'tt0082338',
 'tt0356443',
 'tt2320968',
 'tt2368749',
 'tt0068649',
 'tt0171685',
 'tt0496350',
 'tt1539997',
 'tt2464690',
 'tt3752930',
 'tt0009369',
 'tt3602422',
 'tt0032819',
 'tt0107930',
 'tt0376649',
 'tt1735839',
 'tt5294966',
 'tt0112602',
 'tt0328844',
 'tt10534500',
 'tt1376717',
 'tt2976176',
 'tt8399720',
 'tt0116116',
 'tt1259570',
 'tt1616543',
 'tt2597126',
 'tt4536768',
 'tt8043092',
 'tt0041487',
 'tt0108606',
 'tt1723642',
 'tt1833888',
 'tt2551378',
 'tt5809020',
 'tt5895028',
 'tt13363828',
 'tt1351177',
 'tt4195368',
 'tt0050458',
 'tt0083888',
 'tt0020768',
 'tt0046672',
 'tt0097851',
 'tt0106913',
 'tt0892051',
 'tt1161404',
 'tt7531990',
 'tt0099991',
 'tt0257290',
 'tt0451787',
 'tt1242527',
 'tt0827503',
 'tt1510274',
 'tt0053242',
 'tt0104658',
 'tt1263679',
 'tt5608972',
 'tt0068278',
 'tt9619798',
 'tt0252489',
 'tt1519461',
 'tt6883152',
 'tt7665476',
 'tt0135519',
 'tt0270560',
 'tt0884805',
 'tt1996226',
 'tt0101985',
 'tt0245712',
 'tt0949815',
 'tt3731580',
 'tt1230206',
 'tt1937092',
 'tt2191721',
 'tt4467626',
 'tt0082222',
 'tt0033152',
 'tt0248126',
 'tt4505260',
 'tt0022485',
 'tt0162866',
 'tt1781775',
 'tt8472964',
 'tt0405266',
 'tt10477558',
 'tt1174691',
 'tt5215486',
 'tt0092809',
 'tt4428762',
 'tt5708172',
 'tt0200710',
 'tt1262877',
 'tt1492705',
 'tt1789083',
 'tt2467442',
 'tt6214722',
 'tt0082346',
 'tt0086981',
 'tt0096329',
 'tt0113253',
 'tt0870204',
 'tt1261047',
 'tt0106393',
 'tt0113774',
 'tt0120522',
 'tt9660688',
 'tt0023986',
 'tt0167341',
 'tt3365778',
 'tt0024188',
 'tt1275590',
 'tt1301990',
 'tt1568150',
 'tt1964624',
 'tt0062808',
 'tt1032821',
 'tt0067601',
 'tt4209788',
 'tt0062310',
 'tt0141907',
 'tt0386650',
 'tt4065414',
 'tt0031507',
 'tt0042648',
 'tt0221889',
 'tt0104114',
 'tt12399056',
 'tt2544074',
 'tt0366555',
 'tt1925466',
 'tt2922382',
 'tt0427323',
 'tt4920274',
 'tt0085864',
 'tt0261992',
 'tt1336601',
 'tt8969332',
 'tt1150947',
 'tt14723224',
 'tt1503096',
 'tt1825163',
 'tt5295358',
 'tt0032981',
 'tt0120866',
 'tt0131479',
 'tt0141998',
 'tt0374887',
 'tt12764606',
 'tt4399952',
 'tt0058101',
 'tt0062322',
 'tt0072030',
 'tt3159564',
 'tt4328934',
 'tt9177882',
 'tt1434447',
 'tt2043979',
 'tt5606664',
 'tt0071956',
 'tt2450334',
 'tt0092671',
 'tt0455115',
 'tt1396219',
 'tt0073650',
 'tt0084018',
 'tt0105719',
 'tt0857381',
 'tt1764625',
 'tt1998204',
 'tt0073470',
 'tt0097416',
 'tt0104740',
 'tt0109117',
 'tt1024964',
 'tt2374002',
 'tt4323370',
 'tt5255710',
 'tt0083275',
 'tt0097573',
 'tt0104770',
 'tt0112379',
 'tt0113540',
 'tt0200472',
 'tt0218625',
 'tt1800351',
 'tt2119463',
 'tt5674368',
 'tt0028141',
 'tt0065597',
 'tt0110917',
 'tt0449393',
 'tt4991652',
 'tt0050976',
 'tt0118818',
 'tt0443649',
 'tt3546370',
 'tt0192718',
 'tt0357282',
 'tt14888874',
 'tt3734466',
 'tt0097636',
 'tt0989000',
 'tt5125414',
 'tt0061520',
 'tt0294594',
 'tt0804452',
 'tt5092484',
 'tt6838918',
 'tt1131743',
 'tt14923112',
 'tt0107330',
 'tt1697800',
 'tt5680626',
 'tt8058874',
 'tt8108164',
 'tt0093800',
 'tt0468094',
 'tt6108090',
 'tt0025455',
 'tt0460952',
 'tt0468683',
 'tt11505692',
 'tt0385351',
 'tt0038733',
 'tt0154183',
 'tt0258291',
 'tt0292490',
 'tt1364289',
 'tt2192016',
 'tt0122037',
 'tt3124456',
 'tt0047507',
 'tt0055539',
 'tt0088299',
 'tt0115940',
 'tt0118663',
 'tt0289616',
 'tt0340110',
 'tt2564144',
 'tt2624866',
 'tt4898564',
 'tt0120214',
 'tt0094336',
 'tt1712159',
 'tt1910498',
 'tt2078599',
 'tt7207238',
 'tt0049615',
 'tt0053636',
 'tt0071622',
 'tt3343136',
 'tt4306300',
 'tt0084357',
 'tt0094594',
 'tt1670703',
 'tt9695258',
 'tt0265232',
 'tt0329485',
 'tt1241195',
 'tt1428556',
 'tt1957886',
 'tt5061360',
 'tt0066906',
 'tt0118755',
 'tt6856044',
 'tt0054119',
 'tt2344678',
 'tt2724532',
 'tt0250258',
 'tt0280674',
 'tt0787462',
 'tt13990280',
 'tt0075164',
 'tt0417046',
 'tt0930856',
 'tt1255951',
 'tt1426374',
 'tt2923834',
 'tt4180576',
 'tt7942936',
 'tt9537532',
 'tt0030522',
 'tt0064169',
 'tt0087349',
 'tt0293664',
 'tt1715210',
 'tt3572132',
 'tt0101428',
 'tt0115633',
 'tt0214841',
 'tt0304722',
 'tt2358456',
 'tt2712154',
 'tt0052735',
 'tt0103077',
 'tt0262455',
 'tt0270321',
 'tt11357580',
 'tt2070649',
 'tt6182078',
 'tt7014110',
 'tt7748226',
 'tt7779524',
 'tt0116514',
 'tt0449471',
 'tt1839522',
 'tt2797106',
 'tt4660980',
 'tt0081991',
 'tt0088015',
 'tt0350774',
 'tt3469918',
 'tt3487610',
 'tt8144834',
 'tt0078517',
 'tt0984177',
 'tt10262380',
 'tt10941528',
 'tt0061140',
 'tt0090556',
 'tt0794374',
 'tt0060138',
 'tt0758742',
 'tt1151309',
 'tt1821480',
 'tt0067995',
 'tt3962210',
 'tt7681868',
 'tt0059496',
 'tt1129381',
 'tt3700454',
 'tt4940336',
 'tt0074084',
 'tt10431010',
 'tt0085933',
 'tt0103927',
 'tt0292610',
 'tt0061781',
 'tt5478478',
 'tt0073781',
 'tt0306909',
 'tt11060730',
 'tt1202540',
 'tt2211173',
 'tt8215480',
 'tt0068537',
 'tt0109739',
 'tt2220408',
 'tt8777022',
 'tt0072867',
 'tt0119084',
 'tt8116640',
 'tt10843306',
 'tt0039502',
 'tt0880440',
 'tt1058008',
 'tt2474932',
 'tt7400974',
 'tt0017048',
 'tt0031002',
 'tt0075993',
 'tt0081616',
 'tt0367859',
 'tt5735582',
 'tt0102258',
 'tt0119657',
 'tt2378191',
 'tt8239736',
 'tt0120851',
 'tt1125254',
 'tt1954258',
 'tt8368294',
 'tt13095604',
 'tt1345777',
 'tt4031126',
 'tt0038700',
 'tt0118521',
 ...]

## IBDM Review Scraping

In [123]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time
import random

In [124]:
my_url = "https://www.imdb.com/title/tt0073781/reviews/"

In [130]:
def scrape_first_five_reviews_with_text(imdb_id):
    """
    Fetches the IMDb reviews page for the given imdb_id
    and returns ONLY the first 5 reviews that actually contain text.
    """
    url = f"https://www.imdb.com/title/{imdb_id}/reviews"
    headers = {"User-Agent": "Mozilla/5.0"}
    resp = requests.get(url, headers=headers)
    resp.raise_for_status()

    soup = BeautifulSoup(resp.text, "html.parser")

    review_cards = soup.find_all("div", {"data-testid": "review-card-parent"})

    reviews_data = []

    for card in review_cards:
        # extract review text
        content_div = card.select_one("div.ipc-html-content-inner-div")
        review_text = content_div.get_text(strip=True) if content_div else ""

        if not review_text:
            continue

        reviews_data.append(review_text)

        if len(reviews_data) == 5:
            break

    return reviews_data

In [131]:
import time

def scrape_reviews_for_imdb_ids(imdb_ids):
    """
    Takes a list of IMDb IDs ,
    scrapes the first 5 text reviews for each, then returns a Spark DataFrame with:
        - imdb_id
        - reviews (all reviews joined into one string separated by commas)
    """
    rows = []

    for imdb_id in imdb_ids:
        reviews_list = scrape_first_five_reviews_with_text(imdb_id)

        reviews_joined = ", ".join(reviews_list)

        rows.append((imdb_id, reviews_joined))

        time.sleep(1)

    columns = ["tconst", "reviews"]
    df = spark.createDataFrame(rows, columns)
    return df

In [132]:
df_reviews = scrape_reviews_for_imdb_ids(tconst_list)

df_reviews.show()

+----------+--------------------+
|    tconst|             reviews|
+----------+--------------------+
|tt11691722|A great person an...|
| tt2645104|Even the name "Ro...|
| tt7838536|Now I see many re...|
| tt9562694|Where do you star...|
| tt0937347|It seems strange ...|
| tt0092501|Sequels are a cap...|
| tt0421051|A week ago i watc...|
| tt2277834|OK, it was made f...|
| tt2585562|While most of the...|
| tt3860294|                    |
| tt5458088|Kammattipadam, a ...|
| tt9100028|"Little Switzerla...|
| tt0047444|This movie doesn'...|
| tt0108350|I don't know much...|
| tt2615584|Was pleasantly su...|
| tt6692354|Not your conventi...|
| tt0064482|Worth the time to...|
| tt0084630|Satte Pe Satta (1...|
| tt0103791|Comical (farce at...|
| tt0127626|A great story abo...|
+----------+--------------------+
only showing top 20 rows