In [98]:
import pandas as pd
import os
import json
import re
import requests
from pathlib import Path

from tqdm import tqdm
from unidecode import unidecode
# import pyspark
import pyspark.sql.functions as F
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, ArrayType, StringType, IntegerType, FloatType
from pyspark.sql.functions import col, when, udf, regexp_replace, lower, trim, lit, coalesce

from pyspark.ml import Pipeline

In [5]:
# !git clone https://github.com/meralegre/Big_Data_IMDb.git
# %cd Big_Data_IMDb/
# %pwd

### Load data with Spark

In [6]:
spark = SparkSession.builder \
    .master("local") \
    .config("spark.driver.bindAddress","127.0.0.1") \
    .getOrCreate()

# spark = SparkSession.builder.appName("BERT-FineTuning").getOrCreate()

In [69]:
def load_train_data():
    path = "data/train/"
    train_files = os.listdir(path=path)

    train_df = pd.DataFrame()
    for file in train_files:
        if file.startswith('train-') and file.endswith('.csv'):
            df = pd.read_csv(f"{path}/{file}")
            train_df = pd.concat([train_df, df], ignore_index=False)
            train_df = train_df.drop(columns=["Unnamed: 0", "runtimeMinutes"])

    # train_df = train_df.sort_index()
    spark_train_df = spark.createDataFrame(train_df).replace(to_replace='\\N', value=None)
    spark_train_df = spark_train_df.withColumnRenamed("primaryTitle", "movie_title")
    return spark_train_df

In [70]:
def load_validation_data():
    path = "data/"
    validation_df = pd.read_csv(f"{path}/validation_hidden.csv", index_col=[0])
    # validation_df = validation_df.sort_index()
    validation_df = validation_df.drop(columns="runtimeMinutes")
    spark_validation_df = spark.createDataFrame(validation_df).replace(to_replace='\\N', value=None)
    spark_validation_df = spark_validation_df.withColumnRenamed("primaryTitle", "movie_title")
    return spark_validation_df

def load_test_data():
    path = "data/"
    test_df = pd.read_csv(f"{path}/test_hidden.csv", index_col=[0])
    # test_df = test_df.sort_index()
    test_df = test_df.drop(columns="runtimeMinutes")
    spark_test_df = spark.createDataFrame(test_df).replace(to_replace='\\N', value=None)
    spark_test_df = spark_test_df.withColumnRenamed("primaryTitle", "movie_title")
    return spark_test_df

In [71]:
train_data = load_train_data()
train_data.show()

+---------+--------------------+--------------------+---------+-------+--------+-----+
|   tconst|         movie_title|       originalTitle|startYear|endYear|numVotes|label|
+---------+--------------------+--------------------+---------+-------+--------+-----+
|tt0011439|   The Mark of Zorro|   The Mark of Zorro|     1920|   NULL|  2439.0| true|
|tt0012532|Ớrpháns ớf thé Stớrm|                 NaN|     1921|   NULL|     NaN| true|
|tt0013933|  The Faithful Heart|        Coeur fidèle|     1923|   NULL|  1252.0| true|
|tt0015400| The Thief of Bagdad|                 NaN|     1924|   NULL|  6001.0| true|
|tt0015842|  The Joyless Street|                 NaN|     1925|   NULL|  1554.0| true|
|tt0016544|    The Wizard of Oz|                 NaN|     1925|   NULL|  1497.0|false|
|tt0016641|Ben-Hur: A Tale o...|Ben-Hur: A Tale o...|     1925|   NULL|  7539.0| true|
|tt0017463|           3 Bad Men|           3 Bad Men|     1926|   NULL|  1165.0| true|
|tt0018379|          7th Heaven|          7th Heaven|     1927|   NULL|  3499.0| true|
|tt0018528|         The Unknown|                 NaN|     1927|   NULL|  7850.0| true|
|tt0018684|     Beggars of Life|     Beggars of Life|     NULL|   1928|  1093.0| true|
|tt0021884|        Frankenstein|        Frankenstein|     1931|   NULL| 69780.0| true|
|tt0022787|      Wooden Crosses|                 NaN|     1932|   NULL|  1409.0| true|
|tt0023303|   One Hour with You|   One Hour with You|     1932|   NULL|  2389.0| true|
|tt0023937|       Pássing Fáncy|          Dekigokoro|     1933|   NULL|  1306.0| true|
|tt0024127|Our Flags Lead Us...|                 NaN|     1933|   NULL|  1733.0|false|
|tt0024902|          Blue Steel|          Blue Steel|     1934|   NULL|  1546.0|false|
|tt0025898|                Tớni|                Toni|     1935|   NULL|  1766.0| true|
|tt0028021|         Osaka Elegy|                 NaN|     1936|   NULL|  2253.0| true|
|tt0028708|Charlie Chan at t...|Charlie Chan at t...|     1937|   NULL|     NaN| true|
+---------+--------------------+--------------------+---------+-------+--------+-----+
only showing top 20 rows

In [96]:
validation_data = load_validation_data()
validation_data.show()
validation_data.count()

+---------+--------------------+-------------------+---------+-------+--------+
|   tconst|         movie_title|      originalTitle|startYear|endYear|numVotes|
+---------+--------------------+-------------------+---------+-------+--------+
|tt0003740|             Cabiria|                NaN|     1914|   NULL|  3452.0|
|tt0008663|     A Man There Was|        Terje Vigen|     1917|   NULL|  1882.0|
|tt0010307|           J'accuse!|                NaN|     1919|   NULL|  1692.0|
|tt0014429|        Safety Last!|       Safety Last!|     1923|   NULL| 19898.0|
|tt0015175|Die Nibelungen: S...|                NaN|     1924|   NULL|  5676.0|
|tt0016332|       Seven Chances|                NaN|     1925|   NULL|  9914.0|
|tt0018737|       Pandora's Box|                NaN|     NULL|   1929| 10475.0|
|tt0018839|The Docks of New ...|                NaN|     1928|   NULL|  4339.0|
|tt0019421| Steamboat Bill, Jr.|Steamboat Bill, Jr.|     1928|   NULL| 14166.0|
|tt0019901|   Woman in the Moon|                NaN|     1929|   NULL|     NaN|
|tt0022150|          Le Million|                NaN|     1931|   NULL|  3434.0|
|tt0022153|   The Miracle Woman|                NaN|     1931|   NULL|  2013.0|
|tt0025699|   Randy Rides Alone|                NaN|     1934|   NULL|  1034.0|
|tt0026725|      Les Misérables|     Les Misérables|     1935|   NULL|  3512.0|
|tt0027336|    The Lower Depths|      Les bas-fonds|     1936|   NULL|  3194.0|
|tt0027342|      They Were Five|    La belle équipe|     1936|   NULL|  1202.0|
|tt0027672| Sisters of the Gion|                NaN|     1936|   NULL|  2621.0|
|tt0028167|           Rembrandt|          Rembrandt|     1936|   NULL|  1778.0|
|tt0028313|The Story of Loui...|                NaN|     1936|   NULL|  2705.0|
|tt0028737|          Confession|         Confession|     1937|   NULL|  1201.0|
+---------+--------------------+-------------------+---------+-------+--------+
only showing top 20 rows

955

In [97]:
test_data = load_test_data()
test_data.show()
test_data.count()

+---------+--------------------+-------------------+---------+-------+--------+
|   tconst|         movie_title|      originalTitle|startYear|endYear|numVotes|
+---------+--------------------+-------------------+---------+-------+--------+
|tt0014972| He Who Gets Slapped|He Who Gets Slapped|     1924|   NULL|  3654.0|
|tt0015016|      The Iron Horse|                NaN|     1924|   NULL|  2136.0|
|tt0015174|Die Nibelungen: K...|                NaN|     1924|   NULL|  4341.0|
|tt0015214|             At 3:25|                NaN|     NULL|   1925|  1724.0|
|tt0015863|             Go West|                NaN|     1925|   NULL|  4188.0|
|tt0016481|             Variety|            Varieté|     1925|   NULL|  1188.0|
|tt0017136|          Metropolis|                NaN|     1927|   NULL|168372.0|
|tt0018876|   The Farmer's Wife|                NaN|     1928|   NULL|  2741.0|
|tt0019074| Laugh, Clown, Laugh|Laugh, Clown, Laugh|     1928|   NULL|  1934.0|
|tt0021730|           The Champ|                NaN|     1931|   NULL|  3057.0|
|tt0022074|The Smiling Lieut...|                NaN|     1931|   NULL|  3632.0|
|tt0022080|               Limit|                NaN|     1931|   NULL|     NaN|
|tt0023241|         Movie Crazy|                NaN|     1932|   NULL|     NaN|
|tt0023775|           Baby Face|                NaN|     1933|   NULL|  6775.0|
|tt0023940|   Design for Living|  Design for Living|     1933|   NULL|     NaN|
|tt0024028|    Footlight Parade|   Footlight Parade|     1933|   NULL|  5285.0|
|tt0024240|      Lády fớr á Dáy|     Lady for a Day|     1933|   NULL|     NaN|
|tt0025746| The Scarlet Empress|                NaN|     1934|   NULL|  6400.0|
|tt0025862| Tarzan and His Mate|                NaN|     1934|   NULL|  5033.0|
|tt0025929|A Story of Floati...| Ukikusa monogatari|     1934|   NULL|  3032.0|
+---------+--------------------+-------------------+---------+-------+--------+
only showing top 20 rows

1086

### Cleaning

In [74]:
# def handle_years():
#     """
#     Creates a 'year' column using 'startYear' if available, otherwise 'endYear'.
#     Drops 'startYear' and 'endYear' after merging.
#     """
#     spark_train_df = spark_train_df.withColumn("year", when(col("startYear").isNotNull(), col("startYear"))
#                                   .otherwise(col("endYear")))

#     spark_validation_df = spark_validation_df.withColumn("year", when(col("startYear").isNotNull(), col("startYear"))
#                                   .otherwise(col("endYear")))

#     spark_test_df = spark_test_df.withColumn("year", when(col("startYear").isNotNull(), col("startYear"))
#                                   .otherwise(col("endYear")))

#     # drop original startYear and endYear
#     spark_train_df = spark_train_df.drop("startYear", "endYear")
#     spark_validation_df = spark_validation_df.drop("startYear", "endYear")
#     spark_test_df = spark_test_df.drop("startYear", "endYear")

#     return spark_train_df, spark_validation_df, spark_test_df

def handle_years(df):
    """
    Creates a 'year' column using 'startYear' if available, otherwise 'endYear'.
    Drops 'startYear' and 'endYear' after merging.
    """
    df = df.withColumn("year", when(col("startYear").isNotNull(), col("startYear"))
                                  .otherwise(col("endYear")))

    # drop original startYear and endYear
    df = df.drop("startYear", "endYear")

    return df

In [75]:
spark_train_df = load_train_data()
spark_train_df = handle_years(spark_train_df)
spark_train_df.show()

+---------+--------------------+--------------------+--------+-----+----+
|   tconst|         movie_title|       originalTitle|numVotes|label|year|
+---------+--------------------+--------------------+--------+-----+----+
|tt0011439|   The Mark of Zorro|   The Mark of Zorro|  2439.0| true|1920|
|tt0012532|Ớrpháns ớf thé Stớrm|                 NaN|     NaN| true|1921|
|tt0013933|  The Faithful Heart|        Coeur fidèle|  1252.0| true|1923|
|tt0015400| The Thief of Bagdad|                 NaN|  6001.0| true|1924|
|tt0015842|  The Joyless Street|                 NaN|  1554.0| true|1925|
|tt0016544|    The Wizard of Oz|                 NaN|  1497.0|false|1925|
|tt0016641|Ben-Hur: A Tale o...|Ben-Hur: A Tale o...|  7539.0| true|1925|
|tt0017463|           3 Bad Men|           3 Bad Men|  1165.0| true|1926|
|tt0018379|          7th Heaven|          7th Heaven|  3499.0| true|1927|
|tt0018528|         The Unknown|                 NaN|  7850.0| true|1927|
|tt0018684|     Beggars of Life|     Beggars of Life|  1093.0| true|1928|
|tt0021884|        Frankenstein|        Frankenstein| 69780.0| true|1931|
|tt0022787|      Wooden Crosses|                 NaN|  1409.0| true|1932|
|tt0023303|   One Hour with You|   One Hour with You|  2389.0| true|1932|
|tt0023937|       Pássing Fáncy|          Dekigokoro|  1306.0| true|1933|
|tt0024127|Our Flags Lead Us...|                 NaN|  1733.0|false|1933|
|tt0024902|          Blue Steel|          Blue Steel|  1546.0|false|1934|
|tt0025898|                Tớni|                Toni|  1766.0| true|1935|
|tt0028021|         Osaka Elegy|                 NaN|  2253.0| true|1936|
|tt0028708|Charlie Chan at t...|Charlie Chan at t...|     NaN| true|1937|
+---------+--------------------+--------------------+--------+-----+----+
only showing top 20 rows

In [76]:
# converts special characters to ASCII
def normalize_text(text):
    if text is None:
        return None
    return unidecode(text)

normalize_text_udf = udf(normalize_text, StringType())

def clean_titles(df):
    df = df.withColumn("movie_title", normalize_text_udf(col("movie_title")))
    df = df.withColumn("originalTitle", normalize_text_udf(col("originalTitle")))

    # maybe we can drop the original name since there are some NaN values present
    # and we already have the clean primaryTitle column
    df = df.drop("originalTitle")
    return df

In [77]:
spark_train_df = clean_titles(spark_train_df)
spark_train_df.show()

+---------+--------------------+--------+-----+----+
|   tconst|         movie_title|numVotes|label|year|
+---------+--------------------+--------+-----+----+
|tt0011439|   The Mark of Zorro|  2439.0| true|1920|
|tt0012532|Orphans of the Storm|     NaN| true|1921|
|tt0013933|  The Faithful Heart|  1252.0| true|1923|
|tt0015400| The Thief of Bagdad|  6001.0| true|1924|
|tt0015842|  The Joyless Street|  1554.0| true|1925|
|tt0016544|    The Wizard of Oz|  1497.0|false|1925|
|tt0016641|Ben-Hur: A Tale o...|  7539.0| true|1925|
|tt0017463|           3 Bad Men|  1165.0| true|1926|
|tt0018379|          7th Heaven|  3499.0| true|1927|
|tt0018528|         The Unknown|  7850.0| true|1927|
|tt0018684|     Beggars of Life|  1093.0| true|1928|
|tt0021884|        Frankenstein| 69780.0| true|1931|
|tt0022787|      Wooden Crosses|  1409.0| true|1932|
|tt0023303|   One Hour with You|  2389.0| true|1932|
|tt0023937|       Passing Fancy|  1306.0| true|1933|
|tt0024127|Our Flags Lead Us...|  1733.0|false|1933|
|tt0024902|          Blue Steel|  1546.0|false|1934|
|tt0025898|                Toni|  1766.0| true|1935|
|tt0028021|         Osaka Elegy|  2253.0| true|1936|
|tt0028708|Charlie Chan at t...|     NaN| true|1937|
+---------+--------------------+--------+-----+----+
only showing top 20 rows

In [78]:
# number of rows of training data after concatenating everything together
spark_train_df.count()

7959

### Merge with movie_reviews data

In [88]:
def load_reviews_data():
    path = "movie_reviews/"
    reviews_df = pd.read_csv(f"{path}/final_movie_reviews.csv")
    # reviews_df = reviews_df.sort_index()
    spark_reviews_df = spark.createDataFrame(reviews_df).replace(to_replace='\\N', value=None)
    return spark_reviews_df

In [89]:
spark_reviews_df = load_reviews_data()
spark_reviews_df.show()

+--------------------+------------------+------------------+--------------------+--------------------+--------------------+------------+------------+--------------------+
|         movie_title|tomatometer_status|tomatometer_rating|         review_type|        review_score|      review_content|review_label|Release Year|               genre|
+--------------------+------------------+------------------+--------------------+--------------------+--------------------+------------+------------+--------------------+
|Percy Jackson & t...|            Rotten|              49.0|['Fresh', 'Rotten...|['3.5/5', '1/4', ...|["Whether audienc...|      Rotten|      2010.0|Action & Adventur...|
|         Please Give|             Fresh|              87.0|['Fresh', 'Fresh'...|['3/4', '3/5', '4...|['Holofcener alwa...|       Fresh|      2010.0|              Comedy|
|                  10|             Fresh|              67.0|['Fresh', 'Fresh'...|['4/5', '3/5', '3...|['Obvious but ent...|       Fresh|      1979.0|     Comedy, Romance|
|12 Angry Men (Twe...|             Fresh|             100.0|['Fresh', 'Fresh'...|['4/4', '9/10', '...|['In a time of bl...|       Fresh|      1957.0|     Classics, Drama|
|20,000 Leagues Un...|             Fresh|              89.0|['Fresh', 'Fresh'...|['7/10', '4.5/5',...|['The embodiment ...|       Fresh|      1954.0|Action & Adventur...|
|         10,000 B.C.|            Rotten|               8.0|['Rotten', 'Rotte...|['1.5/5', 'C', 'D...|['A tedious bore ...|      Rotten|      2008.0|Action & Adventur...|
|        The 39 Steps|             Fresh|              96.0|['Fresh', 'Fresh'...|['10/10', '5/5', ...|["If you haven't ...|       Fresh|      1935.0|Action & Adventur...|
|        3:10 to Yuma|             Fresh|              96.0|['Fresh', 'Fresh'...|['4/5', '5/5', 'B...|['', 'Fine Daves,...|       Fresh|      1957.0|Classics, Drama, ...|
|Charly (A Heartbe...|            Rotten|              20.0|['Rotten', 'Rotte...|['2/4', 'C', '2/4...|["The romance bet...|      Rotten|      2002.0|Comedy, Drama, Ro...|
|     Abraham Lincoln|             Fresh|              82.0|['Fresh', 'Fresh'...|['B-', '2.5/5', '...|['An archaic biop...|       Fresh|      1930.0|     Classics, Drama|
|          Dark Water|             Fresh|              80.0|['Fresh', 'Fresh'...|['2.5/4', '4/5', ...|["...while Dark W...|       Fresh|      2002.0|Art House & Inter...|
|         The Accused|             Fresh|              91.0|['Fresh', 'Fresh'...|['3/4', '3.5/5', ...|['The Accused dem...|       Fresh|      1988.0|Drama, Mystery & ...|
|       The Lost City|            Rotten|              25.0|['Rotten', 'Rotte...|['C+', '2/4', '2/...|['', 'Despite the...|      Rotten|      2005.0|               Drama|
|  The Breaking Point|             Fresh|             100.0|['Fresh', 'Fresh'...|['A', '3.5/4', '3...|['Clearly the bes...|       Fresh|      1950.0|               Drama|
|          Adam's Rib|             Fresh|              96.0|['Fresh', 'Fresh'...|['86/100', 'A', '...|["Adam's Rib give...|       Fresh|      1949.0|Classics, Comedy,...|
|The Bridge of San...|            Rotten|               4.0|['Rotten', 'Rotte...|['D', 'D', 'C-', ...|['Pedestrian...a ...|      Rotten|      2005.0|Art House & Inter...|
|The Prowler (Cost...|             Fresh|             100.0|['Fresh', 'Fresh'...|['B+', '56/100', ...|['A neat noir thr...|       Fresh|      1951.0|Drama, Mystery & ...|
|            Criminal|             Fresh|              69.0|['Rotten', 'Rotte...|['3/5', 'C+', '2/...|['We got two and ...|       Fresh|      2004.0|Drama, Mystery & ...|
|The Adventures of...|             Fresh|              80.0|['Fresh', 'Fresh'...|['4/5', '3/5', '3...|["There's more th...|       Fresh|      1985.0|Action & Adventur...|
|           Deep Blue|             Fresh|              67.0|['Fresh', 'Fresh'...|['B', 'B', '4/5',...|['A nice piece of...|       Fresh|      2005.0|Documentary, Spec...|
+--------------------+------------------+------------------+--------------------+--------------------+--------------------+------------+------------+--------------------+
only showing top 20 rows

In [90]:
spark_reviews_df.count()

19095

In [91]:
def convert_year_column_to_int(df, column_name):
    """
    converts a float-based year column to an integer
    """
    df = df.withColumn(column_name, col(column_name).cast(IntegerType()))
    return df

spark_reviews_df = convert_year_column_to_int(spark_reviews_df, "Release Year")

In [92]:
spark_reviews_df.show()

+--------------------+------------------+------------------+--------------------+--------------------+--------------------+------------+------------+--------------------+
|         movie_title|tomatometer_status|tomatometer_rating|         review_type|        review_score|      review_content|review_label|Release Year|               genre|
+--------------------+------------------+------------------+--------------------+--------------------+--------------------+------------+------------+--------------------+
|Percy Jackson & t...|            Rotten|              49.0|['Fresh', 'Rotten...|['3.5/5', '1/4', ...|["Whether audienc...|      Rotten|        2010|Action & Adventur...|
|         Please Give|             Fresh|              87.0|['Fresh', 'Fresh'...|['3/4', '3/5', '4...|['Holofcener alwa...|       Fresh|        2010|              Comedy|
|                  10|             Fresh|              67.0|['Fresh', 'Fresh'...|['4/5', '3/5', '3...|['Obvious but ent...|       Fresh|        1979|     Comedy, Romance|
|12 Angry Men (Twe...|             Fresh|             100.0|['Fresh', 'Fresh'...|['4/4', '9/10', '...|['In a time of bl...|       Fresh|        1957|     Classics, Drama|
|20,000 Leagues Un...|             Fresh|              89.0|['Fresh', 'Fresh'...|['7/10', '4.5/5',...|['The embodiment ...|       Fresh|        1954|Action & Adventur...|
|         10,000 B.C.|            Rotten|               8.0|['Rotten', 'Rotte...|['1.5/5', 'C', 'D...|['A tedious bore ...|      Rotten|        2008|Action & Adventur...|
|        The 39 Steps|             Fresh|              96.0|['Fresh', 'Fresh'...|['10/10', '5/5', ...|["If you haven't ...|       Fresh|        1935|Action & Adventur...|
|        3:10 to Yuma|             Fresh|              96.0|['Fresh', 'Fresh'...|['4/5', '5/5', 'B...|['', 'Fine Daves,...|       Fresh|        1957|Classics, Drama, ...|
|Charly (A Heartbe...|            Rotten|              20.0|['Rotten', 'Rotte...|['2/4', 'C', '2/4...|["The romance bet...|      Rotten|        2002|Comedy, Drama, Ro...|
|     Abraham Lincoln|             Fresh|              82.0|['Fresh', 'Fresh'...|['B-', '2.5/5', '...|['An archaic biop...|       Fresh|        1930|     Classics, Drama|
|          Dark Water|             Fresh|              80.0|['Fresh', 'Fresh'...|['2.5/4', '4/5', ...|["...while Dark W...|       Fresh|        2002|Art House & Inter...|
|         The Accused|             Fresh|              91.0|['Fresh', 'Fresh'...|['3/4', '3.5/5', ...|['The Accused dem...|       Fresh|        1988|Drama, Mystery & ...|
|       The Lost City|            Rotten|              25.0|['Rotten', 'Rotte...|['C+', '2/4', '2/...|['', 'Despite the...|      Rotten|        2005|               Drama|
|  The Breaking Point|             Fresh|             100.0|['Fresh', 'Fresh'...|['A', '3.5/4', '3...|['Clearly the bes...|       Fresh|        1950|               Drama|
|          Adam's Rib|             Fresh|              96.0|['Fresh', 'Fresh'...|['86/100', 'A', '...|["Adam's Rib give...|       Fresh|        1949|Classics, Comedy,...|
|The Bridge of San...|            Rotten|               4.0|['Rotten', 'Rotte...|['D', 'D', 'C-', ...|['Pedestrian...a ...|      Rotten|        2005|Art House & Inter...|
|The Prowler (Cost...|             Fresh|             100.0|['Fresh', 'Fresh'...|['B+', '56/100', ...|['A neat noir thr...|       Fresh|        1951|Drama, Mystery & ...|
|            Criminal|             Fresh|              69.0|['Rotten', 'Rotte...|['3/5', 'C+', '2/...|['We got two and ...|       Fresh|        2004|Drama, Mystery & ...|
|The Adventures of...|             Fresh|              80.0|['Fresh', 'Fresh'...|['4/5', '3/5', '3...|["There's more th...|       Fresh|        1985|Action & Adventur...|
|           Deep Blue|             Fresh|              67.0|['Fresh', 'Fresh'...|['B', 'B', '4/5',...|['A nice piece of...|       Fresh|        2005|Documentary, Spec...|
+--------------------+------------------+------------------+--------------------+--------------------+--------------------+------------+------------+--------------------+
only showing top 20 rows

### Time to merge

In [111]:
def join_training_with_reviews(df_movies, df_reviews):
    """
    joins training data with reviews based on `movie_title` and `year`.

    Parameters:
    - df_movies: PySpark DataFrame containing training movie metadata.
    - df_reviews: PySpark DataFrame containing reviews.

    Returns:
    - Merged PySpark DataFrame with movie metadata + reviews.
    """

    # Standardize `movie_title` (trim + lowercase) for better matching
    df_movies = df_movies.withColumn("movie_title", trim(lower(col("movie_title"))))
    df_reviews = df_reviews.withColumn("movie_title", trim(lower(col("movie_title"))))

    # Rename 'Release Year' in reviews to 'year' for consistent joins
    df_reviews = df_reviews.withColumnRenamed("Release Year", "year")

    # Ensure `year` is cast as an integer
    df_movies = df_movies.withColumn("year", col("year").cast("int"))
    df_reviews = df_reviews.withColumn("year", col("year").cast("int"))

    # Perform a LEFT JOIN on `movie_title` and `year`
    df_merged = df_movies.join(df_reviews, on=["movie_title", "year"], how="left")

    # Select relevant columns
    selected_columns = [
        "tconst", "movie_title", "numVotes", "year", "label",
        "tomatometer_status", "review_type", "genre",
        "review_label", "review_content"
    ]

    df_final = df_merged.select(*selected_columns)

    # Fill missing reviews with "No Reviews" and "Unknown"
    df_final = df_final.fillna({"review_content": "No Reviews", "review_label": "Unknown"})

    return df_final

In [112]:
join_training_with_reviews(spark_train_df, spark_reviews_df).show()

+---------+--------------------+--------+----+-----+------------------+--------------------+--------------------+------------+--------------------+
|   tconst|         movie_title|numVotes|year|label|tomatometer_status|         review_type|               genre|review_label|      review_content|
+---------+--------------------+--------+----+-----+------------------+--------------------+--------------------+------------+--------------------+
|tt0017463|           3 bad men|  1165.0|1926| true|              NULL|                NULL|                NULL|     Unknown|          No Reviews|
|tt0018379|          7th heaven|  3499.0|1927| true|              NULL|                NULL|                NULL|     Unknown|          No Reviews|
|tt0018684|     beggars of life|  1093.0|1928| true|              NULL|                NULL|                NULL|     Unknown|          No Reviews|
|tt0016641|ben-hur: a tale o...|  7539.0|1925| true|              NULL|                NULL|                NULL|     Unknown|          No Reviews|
|tt0024902|          blue steel|  1546.0|1934|false|              NULL|                NULL|                NULL|     Unknown|          No Reviews|
|tt0028708|charlie chan at t...|     NaN|1937| true|              NULL|                NULL|                NULL|     Unknown|          No Reviews|
|tt0021884|        frankenstein| 69780.0|1931| true|              NULL|                NULL|                NULL|     Unknown|          No Reviews|
|tt0029192|make way for tomo...|  8144.0|1937| true|              NULL|                NULL|                NULL|     Unknown|          No Reviews|
|tt0023303|   one hour with you|  2389.0|1932| true|              NULL|                NULL|                NULL|     Unknown|          No Reviews|
|tt0012532|orphans of the storm|     NaN|1921| true|             Fresh|['Rotten', 'Fresh...|               Drama|       Fresh|['D.W. Griffith, ...|
|tt0028021|         osaka elegy|  2253.0|1936| true|              NULL|                NULL|                NULL|     Unknown|          No Reviews|
|tt0024127|our flags lead us...|  1733.0|1933|false|              NULL|                NULL|                NULL|     Unknown|          No Reviews|
|tt0023937|       passing fancy|  1306.0|1933| true|              NULL|                NULL|                NULL|     Unknown|          No Reviews|
|tt0013933|  the faithful heart|  1252.0|1923| true|              NULL|                NULL|                NULL|     Unknown|          No Reviews|
|tt0015842|  the joyless street|  1554.0|1925| true|              NULL|                NULL|                NULL|     Unknown|          No Reviews|
|tt0011439|   the mark of zorro|  2439.0|1920| true|             Fresh|['Rotten', 'Fresh...|Action & Adventur...|       Fresh|['It was such a s...|
|tt0015400| the thief of bagdad|  6001.0|1924| true|             Fresh|['Fresh', 'Fresh'...|Action & Adventur...|       Fresh|['Not up to the 1...|
|tt0018528|         the unknown|  7850.0|1927| true|              NULL|                NULL|                NULL|     Unknown|          No Reviews|
|tt0016544|    the wizard of oz|  1497.0|1925|false|              NULL|                NULL|                NULL|     Unknown|          No Reviews|
|tt0025898|                toni|  1766.0|1935| true|              NULL|                NULL|                NULL|     Unknown|          No Reviews|
+---------+--------------------+--------+----+-----+------------------+--------------------+--------------------+------------+--------------------+
only showing top 20 rows

In [114]:
spark_reviews_df = spark_reviews_df.withColumnRenamed("Release Year", "year")
df_missing_movies = spark_train_df.join(spark_reviews_df, on=["movie_title", "year"], how="left_anti")
df_missing_movies.count()

5892

In [109]:
def clean_labels(df):
    """
    Creates a 'year' column using 'startYear' if available, otherwise 'endYear'.
    Drops 'startYear' and 'endYear' after merging.
    """
    # convert boolean column `label` to integer
    df = df.withColumn("label_int", when(col("label") == True, 1).otherwise(0))

    # convert categorical `review_label` to numerical
    df = df.withColumn("review_label_int", when(col("review_label") == "Fresh", 1)
                                          .when(col("review_label") == "Rotten", 0)
                                          .otherwise(None))
    # combine both labels:
    # both exist: average
    # only one exists: take that one
    df = df.withColumn("combined_label",
                       coalesce((col("label_int") + col("review_label_int")) / 2, col("label_int"), col("review_label_int")))

    # Drop unnecessary intermediate columns
    df = df.drop("label", "label_int", "review_label", "review_label_int")

    df.withColumnRenamed("label", "combined_label")

    return df

In [110]:
# clean_labels(final_df).show()

+----------+--------------------+--------+------------------+------------------+--------------------+--------------------+------------+--------------+
|    tconst|         movie_title|numVotes|tomatometer_status|tomatometer_rating|      review_content|               genre|release_year|combined_label|
+----------+--------------------+--------+------------------+------------------+--------------------+--------------------+------------+--------------+
|tt10534500|               #home| 10591.0|              NULL|              NULL|          No Reviews|                NULL|        NULL|           1.0|
| tt0090556|      'night, mother|  2244.0|              NULL|              NULL|          No Reviews|                NULL|        NULL|           1.0|
| tt0349047|(t)raumschiff sur...| 15303.0|              NULL|              NULL|          No Reviews|                NULL|        NULL|           0.0|
| tt2395385|                  +1|  8065.0|             Fresh|              82.0|["Love it or hate...|Horror, Mystery &...|        2013|           0.5|
| tt0381838|              ...ing|  2187.0|              NULL|              NULL|          No Reviews|                NULL|        NULL|           1.0|
| tt0473567|           ...yahaan|     NaN|              NULL|              NULL|          No Reviews|                NULL|        NULL|           1.0|
| tt2416424|00 schneider - im...|  1216.0|              NULL|              NULL|          No Reviews|                NULL|        NULL|           0.0|
| tt0109000|00 schneider - ja...|  2583.0|              NULL|              NULL|          No Reviews|                NULL|        NULL|           1.0|
| tt2518788|                   1|  4089.0|              NULL|              NULL|          No Reviews|                NULL|        NULL|           1.0|
| tt4685428|              1 buck|     NaN|              NULL|              NULL|          No Reviews|                NULL|        NULL|           0.0|
| tt4875960|     1 interrogation|  4757.0|              NULL|              NULL|          No Reviews|                NULL|        NULL|           0.0|
| tt0494724|    1 litre of tears|     NaN|              NULL|              NULL|          No Reviews|                NULL|        NULL|           1.0|
| tt4126694|             1 night|  1986.0|              NULL|              NULL|          No Reviews|                NULL|        NULL|           0.0|
| tt1179933| 10 cloverfield lane|309018.0|             Fresh|              90.0|['A crackerjack e...|Drama, Mystery & ...|        2016|           1.0|
| tt5128266|    10 endrathukulla|  1321.0|              NULL|              NULL|          No Reviews|                NULL|        NULL|           0.0|
| tt1993391|10 rules for slee...|  2902.0|            Rotten|               0.0|['For a film so b...|              Comedy|        2014|           0.0|
| tt0147800|10 things i hate ...|319002.0|             Fresh|              69.0|["Lame scenes are...|              Comedy|        1999|           1.0|
| tt0443649|           10,000 bc|128668.0|              NULL|              NULL|          No Reviews|                NULL|        NULL|           0.0|
| tt3488056|     10.0 earthquake|  2156.0|              NULL|              NULL|          No Reviews|                NULL|        NULL|           0.0|
|tt10949778|    100 days to live|  4155.0|              NULL|              NULL|          No Reviews|                NULL|        NULL|           0.0|
+----------+--------------------+--------+------------------+------------------+--------------------+--------------------+------------+--------------+
only showing top 20 rows